# Práctica Calificada 2
## Predicción de tarifas de taxis
El objetivo de esta evaluación es construir un modelo de aprendizaje que sea capaz de predecir la tarifa que cobra un taxi de acuerdo a cierta información de entrada.

In [ ]:
import pandas as pd
import numpy as np
print("Pandas = ", pd.__version__)
print("Numpy = ", np.__version__)

Pandas =  1.1.5
Numpy =  1.19.5

# Obteniendo del conjunto de datos

In [ ]:
df_train = pd.read_csv("./train.csv", nrows=10000000)

In [ ]:
df_train.tail()

                                   key  ...  passenger_count
9999995  2012-08-12 01:18:00.000000208  ...                2
9999996  2013-08-07 10:28:00.000000147  ...                1
9999997   2013-10-29 08:29:00.00000082  ...                5
9999998    2012-04-07 16:41:33.0000004  ...                1
9999999   2010-03-30 19:27:00.00000066  ...                1

[5 rows x 8 columns]

Tenemos las siguientes columnas

* ID: cadena que identifica de manera única a cada registro
* pickup_datetime: timestamp indicando cuando el viaje a empezado
* pickup_longitude: número real indicando la ubicación en longitud en donde el viaje empezó
* pickup_latitude: número real indicando la ubicación en latitud en donde el viaje empezó
* dropoff_longitude: número real indicando la ubicación en longitud en donde el viaje terminó
* dropoff_latitude: número real indicando la ubicación en latitud en donde el viaje terminó
* passenger_count: número entero indicando el número de pasajeros en el servicio de taxi
* fare_amount: número real indicando el costo del taxi. Esta es la variable a predecir.

Borramos la columna ID ya que no es un caracterisitica que nos interese

In [ ]:
df_train = df_train.drop(columns=['key'])

In [ ]:
df_train.describe()

        fare_amount  pickup_longitude  ...  dropoff_latitude  passenger_count
count  1.000000e+07      1.000000e+07  ...      9.999931e+06     1.000000e+07
mean   1.133854e+01     -7.250775e+01  ...      3.991913e+01     1.684793e+00
std    9.799930e+00      1.299421e+01  ...      9.237280e+00     1.323423e+00
min   -1.077500e+02     -3.439245e+03  ...     -3.488080e+03     0.000000e+00
25%    6.000000e+00     -7.399207e+01  ...      4.073403e+01     1.000000e+00
50%    8.500000e+00     -7.398181e+01  ...      4.075316e+01     1.000000e+00
75%    1.250000e+01     -7.396710e+01  ...      4.076810e+01     2.000000e+00
max    1.273310e+03      3.457626e+03  ...      3.351403e+03     2.080000e+02

[8 rows x 6 columns]

In [ ]:
df_train.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 7 columns):
 #   Column             Non-Null Count     Dtype
---  ------             --------------     -----
 0   fare_amount        10000000 non-null  float64
 1   pickup_datetime    10000000 non-null  object
 2   pickup_longitude   10000000 non-null  float64
 3   pickup_latitude    10000000 non-null  float64
 4   dropoff_longitude  9999931 non-null   float64
 5   dropoff_latitude   9999931 non-null   float64
 6   passenger_count    10000000 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 534.1+ MB

De lo anterior se puede observar que tenemos valores nulos, entonces verificamos cuando valores nulos hay por cada columna:

In [ ]:
print(df_train.isnull().sum())

fare_amount           0
pickup_datetime       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude    69
dropoff_latitude     69
passenger_count       0
dtype: int64

In [ ]:
# Eliminando
df_train = df_train.dropna(how='any', axis=0)

# Analizando Fare_amount

In [ ]:
df_train[['fare_amount']].describe()

        fare_amount
count  9.999931e+06
mean   1.133849e+01
std    9.799845e+00
min   -1.077500e+02
25%    6.000000e+00
50%    8.500000e+00
75%    1.250000e+01
max    1.273310e+03

Obervamos que el el minimo del monto de tarifa es negativo, veamos cuantos montos de tarifa menores o iguales a cero, tenemos:

In [ ]:
len(df_train[df_train['fare_amount'] <= 0].index)

689

In [ ]:
df_train[df_train['fare_amount'] <= 0]

         fare_amount  ... passenger_count
2039            -2.9  ...               1
2486            -2.5  ...               1
10002            0.0  ...               1
13032           -3.0  ...               4
27891            0.0  ...               1
...              ...  ...             ...
9891251         -5.7  ...               1
9895476         -2.5  ...               1
9914973          0.0  ...               1
9951612         -2.5  ...               5
9984683          0.0  ...               1

[689 rows x 7 columns]

Solo queremos los datos donde el monto de la tarifa sea mayor que cero:

In [ ]:
df_train = df_train[df_train['fare_amount'] > 0]

In [ ]:
df_train[['fare_amount']].describe()

        fare_amount
count  9.999242e+06
mean   1.133966e+01
std    9.798609e+00
min    1.000000e-02
25%    6.000000e+00
50%    8.500000e+00
75%    1.250000e+01
max    1.273310e+03

# Analizando la longitud y latidud

El rango de la latidud es de -90 hasta 90 grados, mientras que el grado de la longitud es de -180 hasta los 180 grados.

In [ ]:
df_train = df_train[(df_train['pickup_longitude'] >= -180) & (df_train['pickup_longitude'] <= 180)]

In [ ]:
df_train = df_train[(df_train['pickup_latitude'] >= -90) & (df_train['pickup_latitude'] <= 90)]

In [ ]:
df_train = df_train[(df_train['dropoff_longitude'] >= -180) & (df_train['dropoff_longitude'] <= 180)]

In [ ]:
df_train = df_train[(df_train['dropoff_latitude'] >= -90) & (df_train['dropoff_latitude'] <= 90)]

In [ ]:
def distancia(df):
  # Radio medio de la tierra en Km
  R = 6371.0
  # Conversion a radianes
  lt1 = np.radians(df.pickup_latitude)
  lg1 = np.radians(df.pickup_longitude)
  lt2 = np.radians(df.dropoff_latitude)
  lg2 = np.radians(df.dropoff_longitude)
  # Defirencia entre latitudes y longitudes
  dlt = lt2 - lt1
  dlg = lg2 - lg1
  # Haversine
  hav = np.sin(dlt / 2)**2 + np.cos(lt1) * np.cos(lt2) * np.sin(dlg / 2)**2
  d = 2 * R * np.arccos(np.sqrt(hav))
  return d

In [ ]:
df_train['distancia'] = distancia(df_train)

In [ ]:
df_train = df_train.drop(columns=['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude'])

# Analizando pickup_datetime

In [ ]:
df_train['pickup_datetime']

0          2009-06-15 17:26:21 UTC
1          2010-01-05 16:52:16 UTC
2          2011-08-18 00:35:00 UTC
3          2012-04-21 04:30:42 UTC
4          2010-03-09 07:51:00 UTC
                    ...
9999995    2012-08-12 01:18:00 UTC
9999996    2013-08-07 10:28:00 UTC
9999997    2013-10-29 08:29:00 UTC
9999998    2012-04-07 16:41:33 UTC
9999999    2010-03-30 19:27:00 UTC
Name: pickup_datetime, Length: 9998766, dtype: object

In [ ]:
df_train['pickup_datetime'] = df_train['pickup_datetime'].str.replace(" UTC", "")

In [ ]:
df_train['pickup_datetime'] = pd.to_datetime(df_train['pickup_datetime'])

In [ ]:
df_train['año'] = df_train.pickup_datetime.dt.year
df_train['mes'] = df_train.pickup_datetime.dt.month
df_train['dia'] = df_train.pickup_datetime.dt.day
df_train['hora'] = df_train.pickup_datetime.dt.hour

In [ ]:
df_train = df_train.drop(columns=['pickup_datetime'])

In [ ]:
df_train.head()

   fare_amount  passenger_count     distancia   año  mes  dia  hora
0          4.5                1  20014.056032  2009    6   15    17
1         16.9                1  20006.636662  2010    1    5    16
2          5.7                2  20013.697271  2011    8   18     0
3          7.7                1  20012.287526  2012    4   21     4
4          5.3                1  20013.087639  2010    3    9     7