# Práctica Calificada 2
## Predicción de tarifas de taxis
El objetivo de esta evaluación es construir un modelo de aprendizaje que sea capaz de predecir la tarifa que cobra un taxi de acuerdo a cierta información de entrada.

In [2]:
import pandas as pd
pd.__version__

'1.1.5'

# Obteniendo del conjunto de datos

In [3]:
df_training_dataset = pd.read_csv("./train.csv", nrows=10000000)

In [4]:
df_training_dataset.tail()

                                   key  ...  passenger_count
9999995  2012-08-12 01:18:00.000000208  ...                2
9999996  2013-08-07 10:28:00.000000147  ...                1
9999997   2013-10-29 08:29:00.00000082  ...                5
9999998    2012-04-07 16:41:33.0000004  ...                1
9999999   2010-03-30 19:27:00.00000066  ...                1

[5 rows x 8 columns]

Tenemos las siguientes columnas

* ID: cadena que identifica de manera única a cada registro
* pickup_datetime: timestamp indicando cuando el viaje a empezado
* pickup_longitude: número real indicando la ubicación en longitud en donde el viaje empezó
* pickup_latitude: número real indicando la ubicación en latitud en donde el viaje empezó
* dropoff_longitude: número real indicando la ubicación en longitud en donde el viaje terminó
* dropoff_latitude: número real indicando la ubicación en latitud en donde el viaje terminó
* passenger_count: número entero indicando el número de pasajeros en el servicio de taxi
* fare_amount: número real indicando el costo del taxi. Esta es la variable a predecir.

Borramos la columna ID ya que no es un caracterisitica que nos interese

In [7]:
df_training_dataset = df_training_dataset.drop(columns=['key'])

In [8]:
df_training_dataset.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 7 columns):
 #   Column             Non-Null Count     Dtype
---  ------             --------------     -----
 0   fare_amount        10000000 non-null  float64
 1   pickup_datetime    10000000 non-null  object
 2   pickup_longitude   10000000 non-null  float64
 3   pickup_latitude    10000000 non-null  float64
 4   dropoff_longitude  9999931 non-null   float64
 5   dropoff_latitude   9999931 non-null   float64
 6   passenger_count    10000000 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 534.1+ MB

De lo anterior se puede observar que tenemos valores nulos, entonces verificamos cuando valores nulos hay por cada columna:

In [12]:
print(df_training_dataset.isnull().sum())

fare_amount           0
pickup_datetime       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude    69
dropoff_latitude     69
passenger_count       0
dtype: int64

In [9]:
df_training_dataset.describe()

        fare_amount  pickup_longitude  ...  dropoff_latitude  passenger_count
count  1.000000e+07      1.000000e+07  ...      9.999931e+06     1.000000e+07
mean   1.133854e+01     -7.250775e+01  ...      3.991913e+01     1.684793e+00
std    9.799930e+00      1.299421e+01  ...      9.237280e+00     1.323423e+00
min   -1.077500e+02     -3.439245e+03  ...     -3.488080e+03     0.000000e+00
25%    6.000000e+00     -7.399207e+01  ...      4.073403e+01     1.000000e+00
50%    8.500000e+00     -7.398181e+01  ...      4.075316e+01     1.000000e+00
75%    1.250000e+01     -7.396710e+01  ...      4.076810e+01     2.000000e+00
max    1.273310e+03      3.457626e+03  ...      3.351403e+03     2.080000e+02

[8 rows x 6 columns]

Se observa que el minimo de fare_mount es menor que cero lo que es extraño